In [23]:
#Import necessary packages
import pandas as pd

In [24]:
#Import DataFrame
df = pd.read_csv('data')
df.drop(['Unnamed: 0'], axis=1, inplace=True)

### Data Cleaning

In [4]:
#Explore first 5 rows of dataset 
df.head()

,artist,album,track_name,release_date,popularity,is_explicit,track_id
0,Katy Perry,Katy Perry - Teenage Dream: The Complete Confe...,Firework,2012-03-12,72,False,4lCv7b86sLynZbXhfScfm2
1,OneRepublic,Dreaming Out Loud,All We Are,2007-01-01,39,False,1Jx69b09LKTuBQxkEiFfVX
2,Amy Winehouse,Back To Black,Wake Up Alone,2006-01-01,0,False,4u83mwF5tUuWlXS86UOXdu
3,The Script,The Script,The Man Who Can't Be Moved,2008-09-08,57,False,4Musyaro0NM5Awx8b5c627
4,Adele,21,Rolling in the Deep,2011-01-19,55,False,1CkvWZme3pRgbzaxZnTl5X

In [5]:
#Look at the shape of the dataset 
df.shape

(9963, 7)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9963 entries, 0 to 9962
Data columns (total 7 columns):
artist          9963 non-null object
album           9963 non-null object
track_name      9963 non-null object
release_date    9963 non-null object
popularity      9963 non-null int64
is_explicit     9963 non-null bool
track_id        9963 non-null object
dtypes: bool(1), int64(1), object(5)
memory usage: 476.9+ KB

In [37]:
#Turn release_date into a Datetime object 
df['release_date'] = pd.to_datetime(df['release_date'], format='%Y/%m/%d')

In [25]:
#Print the value counts of the 'is_explicit' variable 
df['is_explicit'].value_counts()

False    8964
True      999
Name: is_explicit, dtype: int64

In [32]:
#Convert "is_explicit" to a variable that is equal to 1 if True, 0 if False
df['is_explicit'] = df['is_explicit'].astype(int)

In [33]:
#Print the value counts to ensure they are the same as before 
df['is_explicit'].value_counts()

0    8964
1     999
Name: is_explicit, dtype: int64

In [13]:
#Turn is_explicit to a variable that is 1 if True, 0 if False 
# variable_name = {'True' : 1 , 'False' : 0 }

# df['is_explicit'] = df['is_explicit'].map(variable_name)

In [7]:
#Check for NA values 
df.isna().sum()

artist          0
album           0
track_name      0
release_date    0
popularity      0
is_explicit     0
track_id        0
dtype: int64