In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('data')

In [11]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [12]:
df.head()

,artist,album,track_name,release_date,track_id
0,Katy Perry,Katy Perry - Teenage Dream: The Complete Confe...,Firework,2012-03-12,4lCv7b86sLynZbXhfScfm2
1,OneRepublic,Dreaming Out Loud,All We Are,2007-01-01,1Jx69b09LKTuBQxkEiFfVX
2,Amy Winehouse,Back To Black,Wake Up Alone,2006-01-01,4u83mwF5tUuWlXS86UOXdu
3,The Script,The Script,The Man Who Can't Be Moved,2008-09-08,4Musyaro0NM5Awx8b5c627
4,Adele,21,Rolling in the Deep,2011-01-19,1CkvWZme3pRgbzaxZnTl5X

In [13]:
df.shape

(9963, 5)